
@{Layout = "_Layout";}
@section Scripts{
    <script src="~/dist/runtime-es5.js" asp-append-version="true"></script>
    <script src="~/dist/vendor-es5.js" asp-append-version="true"></script>
    <script src="~/dist/polyfills-es5.js" asp-append-version="true"></script>
    <script src="~/dist/main-es5.js" asp-append-version="true"></script>
}


<div class="p-1">
    <app-root></app-root>
</div>
